*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
html ,body{
	width: 100%;
	height: 100%;
}
.wrapper{
	width: 100%;
	height: 80%;
}
.title{
	width: 100%;
	height: 20%;
	background-color: yellow;
	font-size: 2rem;
	display: flex;
	justify-content:center;
	align-items:center;
}
.menu{
	float: left;
	width: 20%;
	height: 100%;
	background-color: #3eede7;
}
.music-list{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.music-list li{
	list-style: none;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.music-center{
	float: right;
	width: 79%;
	height: 100%;
	background-color: pink;
	overflow: hidden;
}
.selected{
	background-color: #fff143;
}
.changetype{
	width: auto;
	height: auto;
	background-color: green;
	border-radius: 5px;
	border: 1px solid #fff;
	margin-left: 2rem;
}
#volume{
	margin-left: 2rem;
}
.changetype li{
	list-style: none;
	float: left;
	color: #fff;
	font-size: 1.2rem;
	padding: 0.5rem;
	cursor: pointer;
}